body {
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 2%;
    color: #8b949e;
    background-color: #296c7c;
    background-color: #064273;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23064273' cx='50' cy='0' r='50'/%3E%3Cg fill='%23084878' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%230c4d7c' cx='50' cy='100' r='50'/%3E%3Cg fill='%23105381' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23145985' cx='50' cy='200' r='50'/%3E%3Cg fill='%23195e89' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%231e648e' cx='50' cy='300' r='50'/%3E%3Cg fill='%23236a92' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23297096' cx='50' cy='400' r='50'/%3E%3Cg fill='%232f759a' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23347b9e' cx='50' cy='500' r='50'/%3E%3Cg fill='%233a81a2' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%234087a6' cx='50' cy='600' r='50'/%3E%3Cg fill='%23478da9' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234d93ad' cx='50' cy='700' r='50'/%3E%3Cg fill='%235399b1' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%235a9eb5' cx='50' cy='800' r='50'/%3E%3Cg fill='%2361a4b9' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2368aabc' cx='50' cy='900' r='50'/%3E%3Cg fill='%236fb0c0' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2376b6c4' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Open Sans', sans-serif;
    /* background by SVGBackgrounds.com */
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.8;
}

.social a {
    color: #58a6ff;
}

.projects {
    margin-top: 10px;
}

.contain {
    background: aliceblue;
    border-radius: 16px;
    padding: 10px;
}

.within {
    background: white;
    border-radius: 16px;
    padding: 10px;
}

.card {
    padding: 0;
    border-radius: 30px;
}

.card-img-top {
    border-radius: 30px;
}

.card-body a {
    border-radius: 30px;
}

.within-header {
    max-width: 37%;
    border-radius: 20px 20px 20px 20px;
    background: aliceblue;
    padding: 12px;
    text-align: center;
}


/* .intro a {
    transform: scale(2.5);
    color: #58a6ff;
} */